*,
*::before,
*::after {
  box-sizing: border-box;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: var(--btn-second-color);
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*header*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  position: relative;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: #212121;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.1;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo--accent-white {
  color: #212121;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  flex-direction: column;
  z-index: 999;
  text-align: start;
  transition: transform 250ms ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-btn {
  width: 40px;
  height: 40px;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  margin-left: auto;
  cursor: pointer;
  color: #212121;
}

.menu-btn--open {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .menu-btn--open {
    display: none;
  }
}

.menu-btn--close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-icon {
  fill: currentColor;
}

.menu-icon:hover,
.menu-icon:focus {
  color: #2196f3;
}

/*.menu-btn.js-close-menu {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
}*/
.mobile-menu-content {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-socialconect {
  display: flex;
}

.mobile-menu-social {
  padding-right: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-social:hover,
.mobile-menu-social:focus {
  color: rgba(33, 150, 243, 0.9);
}

.mobile-menu-conect {
  margin-bottom: 48px;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.network-menu:not(:last-child) {
  margin-bottom: 32px;
  text-align: start;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: left;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #2196f3;
}

.mob-current {
  color: #2196f3;
}

.mobile-menu-tell {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-tell:hover,
.mobile-menu-tell:focus {
  color: #2196f3;
}

.mobile-menu-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.hero-overlay__btn {
  background: #2196f3;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  text-align: center;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-overlay__btn:hover, .hero-overlay__btn:focus {
  background-color: #0677d4;
}

.btnport {
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnport:hover, .btnport:focus,
.btnport .currentbtn {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-item-button {
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-button:hover, .footer-item-button:focus {
  background-color: #0677d4;
}

@media screen and (max-width: 1199px) {
  .footer-item-button {
    align-items: center;
    margin-top: 20px;
    display: inline;
  }
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.modal-content-button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-button:hover, .modal-content-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.social-list {
  display: flex;
}

@media screen and (min-width: 480px) {
  .social-list {
    justify-content: center;
  }
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons {
  padding: 12px;
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: scale(0);
  opacity: 0;
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 40px;
  color: #757575;
}

.modal.is-hidden {
  opacity: 0;
  transform: scale(0);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    min-height: 609px;
    margin-top: 93px;
  }
}

.modal-content {
  background-color: white;
  color: #212121;
  margin-top: 12px;
  position: relative;
}

.modal-content-label {
  position: relative;
  margin-bottom: 10px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-content-imput :nth-child(n + 3) {
  margin-top: 10px;
}

.modal-content-imput {
  margin-top: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 35px;
  display: block;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .modal-content-imput {
    width: 370px;
  }
}

.modal-content-input:focus {
  color: border #2196f3;
}

.modal-content-imput:focus ~ .modal-content-icon,
.modal-content-imput:hover ~ .modal-content-icon {
  fill: #2196f3;
}

.modal-content-imput:focus,
.modal-content-imput:hover {
  border: 1px solid #2196f3;
}

.modal-content-imput.coments {
  padding-left: 16px;
  height: 120px;
}

.modal-content-imput.coments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-content-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  color: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-check {
  display: flex;
  justify-content: center;
  color: #757575;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 1199px) {
  .modal-content-check {
    font-size: 12px;
    line-height: 0.85;
    letter-spacing: 0.03em;
  }
}

.checkwindow {
  display: block;
  padding-left: 20px;
}

.link-contract {
  margin-left: 4px;
  color: #2196f3;
  text-decoration: underline;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .link-contract {
    font-size: 12px;
    line-height: 0.85;
    letter-spacing: 0.03em;
  }
}

.link-agreement {
  text-decoration: none;
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.input-check-castom {
  display: flex;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  fill: #ffffff;
  background-color: #ffffff;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.input-check-castom:hover,
.input-check-castom:focus {
  border: 1px solid #2196f3;
}

.input-check-castom svg {
  display: inline-block;
  width: 16px;
  height: 15px;
  fill: #ffffff;
}

.indent:checked ~ .input-check-castom {
  background-color: #2196f3;
  border-color: #2196f3;
}

.indent {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-input-check:checked ~ .input-check-castom {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-content-check .link {
  margin-left: 4px;
  color: #2196f3;
  text-decoration: underline;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.indent:hover + .input-check-castom,
.indent:focus + .input-check-castom {
  border: 1px solid #2196f3;
}

.header {
  border-bottom: 1px solid #eeeeee;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    position: relative;
  }
}

.header__nav {
  display: flex;
}

.header__nav .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
}

.header__nav-list {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header__nav-list {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__nav-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: lawngreen;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
  .header__nav-listis-open {
    display: block;
  }
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-link {
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:hover,
.header__nav-link:focus,
.link.current {
  color: #2196f3;
}

.header__contact-list {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
  align-items: center;
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact-list {
    display: block;
    margin-left: 84px;
  }
}

@media screen and (max-width: 767px) {
  .header__contact-list {
    display: none;
  }
}

.header__contact-item:not(:last-child) {
  margin-right: 50px;
}

.header__contact-list .link {
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact-list .link {
    padding-top: 10px;
    padding-bottom: 0;
  }
}

.header__contact-list .link:hover,
.header__contact-list .link:focus,
.link.current {
  color: #2196f3;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: #2196f3;
  border-radius: 2px;
}

/*.hero-bgcolorheader {
  /*background-color: $dark-bgc;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}*/
.hero-overlay__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .hero-overlay__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero-overlay {
  /*max-width: 1600px;
  /*height: 600px;
  outline: 1px solid black;*/
  /*margin-left: auto;
  margin-right: auto;*/
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobversion/header-img-1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-overlay .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobversion/header-img-2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tabversion/headertab-img-1x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-overlay .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tabversion/headertab-img-2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-width: 1200px) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-overlay .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/destopversion/header-img-destop2x.jpg");
  }
}

.characteristic {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.characteristic-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .characteristic-item {
    width: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .characteristic-item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .characteristic {
    display: block;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .characteristic {
    display: flex;
  }
}

.decoration {
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .decoration {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .decoration {
    text-align: left;
  }
}

.text {
  color: #757575;
}

@media screen and (min-width: 320px) {
  .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.characteristic .characteristic-item::before {
  content: "";
  display: block;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.characteristic-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.characteristic-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.characteristic-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.characteristic-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.team {
  background-color: #f5f4fa;
}

.team-list__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: bold;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.team-list__position {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list__item {
  /*background-color: var(--btn-second-color);*/
  text-align: center;
  flex-basis: calc((100% / 4- 30px));
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
  outline: 1px solid #eeeeee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-list__img {
  margin-bottom: 30px;
}

.list {
  list-style: none;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team-list {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team-list {
    flex-basis: calc(100% / 2 - 30px);
    justify-content: center;
  }
}

.team-networks {
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons {
  padding: 12px;
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons:hover, .social-icons:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.work {
  padding-top: 0;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  list-style: none;
}

.work__item {
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__item-text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.section-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: bold;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footeraddress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footercontackt {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accentfooter {
  color: #ffffff;
}

.address {
  font-style: inherit;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footeraddress:hover,
.footeraddress:focus {
  color: #2196f3;
}

.footercontackt:hover,
.footercontackt:focus {
  color: #2196f3;
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .footer-container {
    display: block;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
  }
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

@media screen and (max-width: 767px) {
  .footer-item {
    text-align: center;
    margin-top: 60px;
    display: inline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-item {
    text-align: center;
  }
}

.footer-join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-join-title {
    margin-top: 60px;
  }
}

.footer-networks {
  flex-wrap: wrap;
}

.social-icons-footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.social-icons-footer:hover, .social-icons-footer:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.address-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.footer-item:last-child {
  margin-left: auto;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer-item:last-child {
    margin-left: 0;
  }
}

.footer-form-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    display: block;
    text-align: center;
  }
}

.footer-mail-input {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .footer-mail-input {
    align-items: center;
    margin-top: 60px;
  }
}

.footer-mail-input .helper::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-input label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mail-input input {
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

@media screen and (max-width: 1199px) {
  .footer-mail-input input {
    width: 450px;
  }
}

.footer-mail-input input:hover,
.footer-mail-input input:focus {
  border: 1px solid #2196f3;
}

.chapter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.chapter-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .chapter-item:not(:last-child) {
    padding-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  ul.list.chapter {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  ul.list.chapter {
    display: flex;
  }
}

.text-portfolio {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  font-family: inherit;
}

.portfoliowork {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .portfoliowork {
    justify-content: center;
  }
}

.bgcproduct {
  background-color: #ffffff;
  text-align: left;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bgcproduct {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 15px;
  }
}

.product-link:hover,
.product-link:focus {
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-link {
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bgsproduct-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.txtdecoport {
  text-decoration: none;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.textdecoport {
  margin-bottom: 4px;
  font-size: 18px;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  font-size: 18px;
  line-height: 1.5;
  height: 100%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.content-overlay {
  position: relative;
  overflow: hidden;
}

.product-link:hover .description,
.product-link:focus .description {
  transform: translateY(0);
  opacity: 1;
}

.bgsproduct:hover .description {
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (max-width: 767px) {
  .clients-list {
    flex-basis: calc(100% / 2 - 30px);
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    flex-basis: calc(100% / 3 - 30px);
    justify-content: center;
  }
}

.clients-list__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

.clients-list__links {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__links {
    width: 226px;
  }
}

.clients-list__links:hover,
.clients-list__links:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.clients-links__icon:hover,
.clients-links__icon:focus {
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */