:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --dark-bgc: #2f303a;
  --white-text-color: #ffffff;
  --white-bgc-port: #f5f4fa;
  --border-portfoli: #eeeeee;
  --icon: #afb1b8;
  --portfolio-hover-cards: rgba(33, 150, 243, 0.9);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: var(--btn-second-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-container {
  display: flex;
  align-items: center;
}

/*header*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  position: relative;
}

.header-nav {
  display: flex;
}

.header-nav .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
}

.page-header {
  border-bottom: 1px solid var(--border-portfoli);
}

.site-nav {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.site-nav li {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.link.current {
  color: var(--accent-color);
}

.site-navcolor {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
  align-items: center;
  margin-left: auto;
}

.site-navcolor-item:not(:last-child) {
  margin-right: 50px;
}

.site-navcolor .link {
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-navcolor .link:hover,
.site-navcolor .link:focus,
.link.current {
  color: var(--accent-color);
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.1;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--primary-text-color);
}

/*header*/
.teamheading {
  font-size: 36px;
  line-height: 1.1;
  font-weight: bold;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.bgcolorheader {
  background-color: var(--dark-bgc);
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}

.headerdecor {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/*main*/
.teamheading {
  font-size: 36px;
  line-height: 1.1;
  font-weight: bold;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.bgcolorheader {
  background-color: var(--dark-bgc);
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}

.headerdecor {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.btn {
  background: var(--accent-color);
  color: var(--white-text-color);
  font-size: 16px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  text-align: center;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #0677d4;
}

.btnport {
  background-color: var(--white-bgc-port);
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnport:hover,
.btnport:focus,
.currentbtn {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-item-button {
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-button:hover,
.footer-item-button:focus {
  background-color: #0677d4;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--white-text-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.modal-content-button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-button:hover,
.modal-content-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.decoration {
  color: var(--primary-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
}

.text {
  color: var(--title-text-color);
}

.team {
  background-color: var(--white-bgc-port);
}

.teamperson {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.teamposition {
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.bgcteam {
  /*background-color: var(--btn-second-color);*/
  text-align: center;
  flex-basis: calc((100% / 4- 30px));
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
  outline: 1px solid var(--border-portfoli);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white-text-color);
}

.team-img {
  margin-bottom: 30px;
}

.team-representiv {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-networks {
  display: flex;
  justify-content: center;
}

.work-section {
  padding-top: 0;
}

.work-product {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-product-item {
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

.chapter-item:not(:last-child) {
  margin-right: 8px;
}

.chapter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.characteristic {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.characteristic-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/*footer*/
.footer {
  background-color: var(--dark-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footeraddress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footercontackt {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contact);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accentfooter {
  color: var(--white-text-color);
}

.address {
  font-style: inherit;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footeraddress:hover,
.footeraddress:focus {
  color: var(--accent-color);
}

.footercontackt:hover,
.footercontackt:focus {
  color: var(--accent-color);
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-join-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 10px;
}

.footer-networks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-networks-list:not(:last-child) {
  margin-right: 10px;
}

.address-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.footer-item:last-child {
  margin-left: auto;
}

.footer-form-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-mail-input {
  display: flex;
  flex-direction: column;
}

.footer-mail-input .helper::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-input label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mail-input input {
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-mail-input input:hover,
.footer-mail-input input:focus {
  border: 1px solid var(--accent-color);
}

/*portfolio*/
.btn {
  background: var(--accent-color);
  color: var(--white-text-color);
  font-size: 16px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  text-align: center;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #0677d4;
}

.btnport {
  background-color: var(--white-bgc-port);
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnport:hover,
.btnport:focus,
.currentbtn {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-item-button {
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-button:hover,
.footer-item-button:focus {
  background-color: #0677d4;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--white-text-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.modal-content-button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-button:hover,
.modal-content-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.txt {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
}

.txtp {
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 16px;
  font-family: inherit;
}

.portfoliowork {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0px;
}

.bgcproduct {
  background-color: var(--white-text-color);
  text-align: left;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.product-link:hover,
.product-link:focus {
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-link {
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bgsproduct-content {
  padding: 20px 24px;
  border: 1px solid var(--border-portfoli);
}

.txtdecoport {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.textdecoport {
  margin-bottom: 4px;
  font-size: 18px;
}

.footer {
  background-color: var(--dark-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footeraddress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footercontackt {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contact);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accentfooter {
  color: var(--white-text-color);
}

.address {
  font-style: inherit;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footeraddress:hover,
.footeraddress:focus {
  color: var(--accent-color);
}

.footercontackt:hover,
.footercontackt:focus {
  color: var(--accent-color);
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-join-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 10px;
}

.footer-networks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-networks-list:not(:last-child) {
  margin-right: 10px;
}

.address-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.footer-item:last-child {
  margin-left: auto;
}

.footer-form-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-mail-input {
  display: flex;
  flex-direction: column;
}

.footer-mail-input .helper::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-input label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mail-input input {
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-mail-input input:hover,
.footer-mail-input input:focus {
  border: 1px solid var(--accent-color);
}

.work-secondheading {
  font-size: 36px;
  line-height: 1.1;
  font-weight: bold;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  outline: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/headerimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.characteristic .characteristic-item::before {
  content: "";
  display: block;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.characteristic-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.characteristic-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.characteristic-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.characteristic-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.clientheading {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

.clients-links {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links:hover,
.clients-links:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.team-networks-list:not(:last-child) {
  margin-right: 10px;
}

.team-networks-links {
  padding: 12px;
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  fill: var(--icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-networks-links:hover,
.team-networks-links:focus {
  background-color: var(--accent-color);
  fill: var(--white-text-color);
}

.footer-networks-links {
  padding: 12px;
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks-links:hover,
.footer-networks-links:focus {
  background-color: var(--accent-color);
  fill: var(--white-text-color);
}

.team {
  background-color: var(--white-bgc-port);
}

.teamperson {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.teamposition {
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.bgcteam {
  /*background-color: var(--btn-second-color);*/
  text-align: center;
  flex-basis: calc((100% / 4- 30px));
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
  outline: 1px solid var(--border-portfoli);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white-text-color);
}

.team-img {
  margin-bottom: 30px;
}

.team-representiv {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-networks {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: var(--dark-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footeraddress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footercontackt {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contact);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accentfooter {
  color: var(--white-text-color);
}

.address {
  font-style: inherit;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footeraddress:hover,
.footeraddress:focus {
  color: var(--accent-color);
}

.footercontackt:hover,
.footercontackt:focus {
  color: var(--accent-color);
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-join-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 10px;
}

.footer-networks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-networks-list:not(:last-child) {
  margin-right: 10px;
}

.address-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.footer-item:last-child {
  margin-left: auto;
}

.footer-form-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-mail-input {
  display: flex;
  flex-direction: column;
}

.footer-mail-input .helper::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-input label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mail-input input {
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-mail-input input:hover,
.footer-mail-input input:focus {
  border: 1px solid var(--accent-color);
}

.team-networks-list:not(:last-child) {
  margin-right: 10px;
}

.team-networks-links {
  padding: 12px;
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  fill: var(--icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-networks-links:hover,
.team-networks-links:focus {
  background-color: var(--accent-color);
  fill: var(--white-text-color);
}

.footer-networks-links {
  padding: 12px;
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-networks-links:hover,
.footer-networks-links:focus {
  background-color: var(--accent-color);
  fill: var(--white-text-color);
}

.clients-icon:hover,
.clients-icon:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--dark-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footeraddress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footercontackt {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contact);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accentfooter {
  color: var(--white-text-color);
}

.address {
  font-style: inherit;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footeraddress:hover,
.footeraddress:focus {
  color: var(--accent-color);
}

.footercontackt:hover,
.footercontackt:focus {
  color: var(--accent-color);
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-join-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 10px;
}

.footer-networks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-networks-list:not(:last-child) {
  margin-right: 10px;
}

.address-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.footer-item:last-child {
  margin-left: auto;
}

.footer-form-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-mail-input {
  display: flex;
  flex-direction: column;
}

.footer-mail-input .helper::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-input label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mail-input input {
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-mail-input input:hover,
.footer-mail-input input:focus {
  border: 1px solid var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.wedo-content {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.content-overlay {
  position: relative;
  overflow: hidden;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  font-size: 18px;
  line-height: 1.5;
  height: 100%;
  color: var(--white-text-color);
  background-color: var(--portfolio-hover-cards);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.product-link:hover .description,
.product-link:focus .description {
  transform: translateY(0);
  opacity: 1;
}

.bgsproduct:hover.description {
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0);
  opacity: 0;
}

.modal {
  width: 528px;
  min-height: 581px;
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 40px;
  color: var(--title-text-color);
}

.modal.is-hidden {
  opacity: 0;
  transform: scale(0);
}

.modal-content {
  background-color: white;
  color: var(--primary-text-color);
  margin-top: 12px;
  position: relative;
}

.modal-content-label {
  position: relative;
  margin-bottom: 10px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal-content-imput :nth-child(n + 3) {
  margin-top: 10px;
}

.modal-content-imput {
  margin-top: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 35px;
  display: block;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-input:focus {
  color: border var(--accent-color);
}

.modal-content-imput:focus ~ .modal-content-icon,
.modal-content-imput:hover ~ .modal-content-icon {
  fill: var(--accent-color);
}

.modal-content-imput:focus,
.modal-content-imput:hover {
  border: 1px solid var(--accent-color);
}

.modal-content-imput.coments {
  padding-left: 16px;
  height: 120px;
}

.modal-content-imput.coments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-content-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  color: var(--title-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-check {
  display: flex;
  justify-content: center;
  color: var(--title-text-color);
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  align-items: center;
  flex-direction: row;
}

.checkwindow {
  display: block;
  padding-left: 20px;
}

.link-contract {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.link-agreement {
  text-decoration: none;
  color: var(--title-text-color);
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.input-check-castom {
  display: flex;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  fill: var(--white-text-color);
  background-color: var(--white-text-color);
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check-castom:hover,
.input-check-castom:focus {
  border: 1px solid var(--accent-color);
}

.input-check-castom svg {
  display: inline-block;
  width: 16px;
  height: 15px;
  fill: var(--white-text-color);
}

.indent:checked ~ .input-check-castom {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.indent {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-input-check:checked ~ .input-check-castom {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-content-check .link {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.indent:hover + .input-check-castom,
.indent:focus + .input-check-castom {
  border: 1px solid var(--accent-color);
}

.btn {
  background: var(--accent-color);
  color: var(--white-text-color);
  font-size: 16px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  text-align: center;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #0677d4;
}

.btnport {
  background-color: var(--white-bgc-port);
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnport:hover,
.btnport:focus,
.currentbtn {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-item-button {
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-button:hover,
.footer-item-button:focus {
  background-color: #0677d4;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--white-text-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.modal-content-button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-button:hover,
.modal-content-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer {
  background-color: var(--dark-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footeraddress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footercontackt {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contact);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accentfooter {
  color: var(--white-text-color);
}

.address {
  font-style: inherit;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footeraddress:hover,
.footeraddress:focus {
  color: var(--accent-color);
}

.footercontackt:hover,
.footercontackt:focus {
  color: var(--accent-color);
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-join-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 10px;
}

.footer-networks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-networks-list:not(:last-child) {
  margin-right: 10px;
}

.address-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.footer-item:last-child {
  margin-left: auto;
}

.footer-form-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-mail-input {
  display: flex;
  flex-direction: column;
}

.footer-mail-input .helper::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-input label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mail-input input {
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-mail-input input:hover,
.footer-mail-input input:focus {
  border: 1px solid var(--accent-color);
}

.btn {
  background: var(--accent-color);
  color: var(--white-text-color);
  font-size: 16px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  text-align: center;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #0677d4;
}

.btnport {
  background-color: var(--white-bgc-port);
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnport:hover,
.btnport:focus,
.currentbtn {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-item-button {
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-button:hover,
.footer-item-button:focus {
  background-color: #0677d4;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--white-text-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.modal-content-button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-button:hover,
.modal-content-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer {
  background-color: var(--dark-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footeraddress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footercontackt {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contact);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accentfooter {
  color: var(--white-text-color);
}

.address {
  font-style: inherit;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footeraddress:hover,
.footeraddress:focus {
  color: var(--accent-color);
}

.footercontackt:hover,
.footercontackt:focus {
  color: var(--accent-color);
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  margin-right: 70px;
}

.footer-join-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 10px;
}

.footer-networks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-networks-list:not(:last-child) {
  margin-right: 10px;
}

.address-link-icon {
  fill: currentColor;
  margin-right: 10px;
}

.footer-item:last-child {
  margin-left: auto;
}

.footer-form-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-mail-input {
  display: flex;
  flex-direction: column;
}

.footer-mail-input .helper::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-input label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mail-input input {
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-mail-input input:hover,
.footer-mail-input input:focus {
  border: 1px solid var(--accent-color);
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0);
  opacity: 0;
}

.modal {
  width: 528px;
  min-height: 581px;
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 40px;
  color: var(--title-text-color);
}

.modal.is-hidden {
  opacity: 0;
  transform: scale(0);
}

.modal-content {
  background-color: white;
  color: var(--primary-text-color);
  margin-top: 12px;
  position: relative;
}

.modal-content-label {
  position: relative;
  margin-bottom: 10px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal-content-imput :nth-child(n + 3) {
  margin-top: 10px;
}

.modal-content-imput {
  margin-top: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 35px;
  display: block;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-input:focus {
  color: border var(--accent-color);
}

.modal-content-imput:focus ~ .modal-content-icon,
.modal-content-imput:hover ~ .modal-content-icon {
  fill: var(--accent-color);
}

.modal-content-imput:focus,
.modal-content-imput:hover {
  border: 1px solid var(--accent-color);
}

.modal-content-imput.coments {
  padding-left: 16px;
  height: 120px;
}

.modal-content-imput.coments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-content-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  color: var(--title-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-check {
  display: flex;
  justify-content: center;
  color: var(--title-text-color);
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  align-items: center;
  flex-direction: row;
}

.checkwindow {
  display: block;
  padding-left: 20px;
}

.link-contract {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.link-agreement {
  text-decoration: none;
  color: var(--title-text-color);
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.input-check-castom {
  display: flex;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  fill: var(--white-text-color);
  background-color: var(--white-text-color);
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check-castom:hover,
.input-check-castom:focus {
  border: 1px solid var(--accent-color);
}

.input-check-castom svg {
  display: inline-block;
  width: 16px;
  height: 15px;
  fill: var(--white-text-color);
}

.indent:checked ~ .input-check-castom {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.indent {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-input-check:checked ~ .input-check-castom {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-content-check .link {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.indent:hover + .input-check-castom,
.indent:focus + .input-check-castom {
  border: 1px solid var(--accent-color);
}

.btn {
  background: var(--accent-color);
  color: var(--white-text-color);
  font-size: 16px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  text-align: center;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #0677d4;
}

.btnport {
  background-color: var(--white-bgc-port);
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnport:hover,
.btnport:focus,
.currentbtn {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-item-button {
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-button:hover,
.footer-item-button:focus {
  background-color: #0677d4;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--white-text-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.modal-content-button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-button:hover,
.modal-content-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0);
  opacity: 0;
}

.modal {
  width: 528px;
  min-height: 581px;
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 40px;
  color: var(--title-text-color);
}

.modal.is-hidden {
  opacity: 0;
  transform: scale(0);
}

.modal-content {
  background-color: white;
  color: var(--primary-text-color);
  margin-top: 12px;
  position: relative;
}

.modal-content-label {
  position: relative;
  margin-bottom: 10px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal-content-imput :nth-child(n + 3) {
  margin-top: 10px;
}

.modal-content-imput {
  margin-top: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 35px;
  display: block;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-input:focus {
  color: border var(--accent-color);
}

.modal-content-imput:focus ~ .modal-content-icon,
.modal-content-imput:hover ~ .modal-content-icon {
  fill: var(--accent-color);
}

.modal-content-imput:focus,
.modal-content-imput:hover {
  border: 1px solid var(--accent-color);
}

.modal-content-imput.coments {
  padding-left: 16px;
  height: 120px;
}

.modal-content-imput.coments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-content-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  color: var(--title-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-check {
  display: flex;
  justify-content: center;
  color: var(--title-text-color);
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  align-items: center;
  flex-direction: row;
}

.checkwindow {
  display: block;
  padding-left: 20px;
}

.link-contract {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.link-agreement {
  text-decoration: none;
  color: var(--title-text-color);
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.input-check-castom {
  display: flex;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  fill: var(--white-text-color);
  background-color: var(--white-text-color);
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check-castom:hover,
.input-check-castom:focus {
  border: 1px solid var(--accent-color);
}

.input-check-castom svg {
  display: inline-block;
  width: 16px;
  height: 15px;
  fill: var(--white-text-color);
}

.indent:checked ~ .input-check-castom {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.indent {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-input-check:checked ~ .input-check-castom {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-content-check .link {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.indent:hover + .input-check-castom,
.indent:focus + .input-check-castom {
  border: 1px solid var(--accent-color);
}
/*# sourceMappingURL=main.css.map */
