.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  padding: 10px 0px 48px 40px;
  display: flex;
  justify-content: space-between;
  background-color: $white-text-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  flex-direction: column;
  z-index: 999;
  &.is--open {
    transform: translateX(0);
  }
}

.menu-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: auto;
  cursor: pointer;
  color: $primary-text-color;
  /*margin: 22px;*/
  &--open {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &--close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.mobile-menu-content {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-socialconect {
  display: flex;
}
.mobile-menu-social {
  padding-right: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $accent-color;
}

/*.mobile-menu-list {
  margin-bottom: 302px;
}*/
.mobile-menu-conect {
  margin-bottom: 48px;
}
.mobile-menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: left;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}

.mobile-menu-tell {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.mobile-menu-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $title-text-color;
}

.menu-icon {
  fill: currentColor;
  &--open {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
