.social-list {
  display: flex;
  @media screen and (min-width: 480px) {
    justify-content: center;
  }
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-icons {
  padding: 12px;
  width: 44px;
  height: 44px;
  display: inline-block;
  border-radius: 50%;
  fill: $icon;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
