.footer {
  background-color: $dark-bgc;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
  @media screen and (min-width: 768px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.footeraddress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $white-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footercontackt {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $footer-contact;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accentfooter {
  color: $white-text-color;
}
.address {
  font-style: inherit;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footeraddress:hover,
.footeraddress:focus {
  color: $accent-color;
}
.footercontackt:hover,
.footercontackt:focus {
  color: $accent-color;
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}
.footer-container {
  display: block;
  justify-content: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-item:not(:last-child) {
  margin-bottom: 70px;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer-item {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-networks {
  flex-wrap: wrap;
}

.social-icons-footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $white-text-color;
  }
}

.address-link-icon {
  fill: currentColor;
  margin-right: 10px;
}
.footer-item:last-child {
  margin-left: auto;
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    margin-left: 0;
  }
  /*@media screen and (min-width: 1200px) {
    margin-left: 93px;
  }*/
}
.footer-form-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.footer-form {
  display: flex;
  align-items: flex-end;
  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
  }
}

.footer-mail-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.footer-mail-input .helper::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail-input label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-mail-input input {
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-mail-input input:hover,
.footer-mail-input input:focus {
  border: 1px solid $accent-color;
}
