/*.hero-bgcolorheader {
  /*background-color: $dark-bgc;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}*/

.hero-overlay__title {
  color: $white-text-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) and (max-width: 1200px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
.hero-overlay {
  max-width: 1600px;
  /*height: 600px;
  outline: 1px solid black;*/
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/images/mobversion/header-img-1x.jpg");
  /*url("./images/mobversion/header-img-1x.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-overlay {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("/images/mobversion/header-img-2x.jpg");
    }
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("/images/tabversion/headertab-img-1x.jpg");
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero-overlay {
          background-image: linear-gradient(
              to right,
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)
            ),
            url("/images/tabversion/headertab-img-2x.jpg");
        }
      }
      @media screen and (min-width: 1200px) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("/images/headerimg.jpg");
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          .hero-overlay {
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
              ),
              url("/images/destopversion/header-img-destop2x.jpg");
          }
        }
      }
    }
  }
}
